body{
	margin-top: 100px;
}
#wrapper{
	padding-left: 0px;
}
#page-wrapper{
	width: 100%;
	padding: 0;
	background-color: #f9f9f9;
}

@media (min-width: 768px){
	body{
	margin-top: 50px;
}
	#wrapper{
	padding-left: 255px;
}
	#page-wrapper{
	padding: 10px;
}
}

/* Navigáció */

.top-nav{
	0 15px;
}
.top-nav>li{
	float: left;
	display: inline-block;
}
.top-nav>li>a{
	color: #87ceeb;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.top-nav>li>a:hover, .top-nav>li>a:focus{
	color: #000000;
}
@media (min-width: 768px){
	.side-nav{
		position: fixed;
		top: 51px;
		bottom: 0;
		width: 255px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #222222;
		padding-bottom: 40px;
		border-radius: 0;
	}
	.side-nav>li>a{
		width: 255px;
	}
	.side-nav>li>a:hover, .side-nav>li>a:focus{
		outline: none;
		background-color: #000000 !important;
	}
}
.side-nav>li>ul{
	padding: 0;
}
.side-nav>li>ul>li>a{
	padding: 10px 15px 10px 30px;
	text-decoration:  none;
	color: #999999;
	display: block;
}
.side-nav>li>ul>li>a:hover{
	color: #ffffff;
}
.huge{
	font-size: 25px;
	line-height: normal;
}
.panel-body{
	border-radius: 5px;
}
.thumb-info{
	position: relative;
}
.rounded{
	border-radius: 10px;
}
hr{
	border-bottom: 1px #dddddd dotted;
	height: 0px;
	margin: 10px 0 10px 0;
}
.thumb-info .thumb-info-title{
	background: rgba(36,27,28,0.9);
	bottom: 10%;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	left: 0;
	letter-spacing: -1px;
	padding: 9px 11px 9px;
	position: absolute;
	text-transform: uppercase;
	z-index: 1;
}
.thumb-info .thumb-info-inner{
	display: block;
}
.thumb-info .thumb-info-type{
	background: #0088cc;
	display: inline-block;
	border-radius: 2px;
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	margin: 8px -2px -11px -2px;
	padding: 2px 9px;
	text-transform: none;
}
.widget-content-expanded{
	font-size: 15px;
}
.widget-content-expanded span{
	font-weight: 600;
}
.widget-content-expanded i{
	color: #0088cc;
	margin-right: 5px;
}













