
body{
    font-size: 14px;
    line-height: 1.4285;
    color: #333333;
    background: #f0f0f0;
    overflow-x: hidden;
}

/* Felső rész */

#top{
    background: #87ceeb;
    padding: 10px 0;
}
#top .offer{
    color: #ffffff;
}
#top .offer .btn{
    text-transform: uppercase;
}
@media(max-width: 990px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 990px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
#top ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width: 990px){
    #top ul.menu{
        text-align: center;
    }
}
#top ul.menu > li{
    display: inline-block;
}
#top ul.menu > li a{
    color: #eeeeee;
}
#top ul.menu > li + li:before{
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}

/* Header rész */

.navbar{
    background: #ffffff;
}
.navbar-collapse .right{
    float: right;
}
.navbar-brand{
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;
}
.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar ul.nav > li > a:hover{
    background: #ceed;
}
.padding-nav{
    padding-top: 10px;
}
.btn-default{
	margin-top: 5px;
}
.btn-primary{
	margin-top: 5px;
    color: rgb(255, 255, 255);
    background: rgb(79, 191, 168);
    border-color: rgb(65, 179, 156);
}
#search .navbar-form{
    float: right;
}
#search{
    clear: both;
    border-top: solid 1px #9adacd;
    text-align: right;
}
#search .navbar-form .input-group{
    display: table;
}
#search .navbar-form .input-group .form-control{
    width: 100%;
}
#slider{
	margin-bottom: 40px;
}

/* Szlogen style */

#advantages{
	text-align: center;
}
.box{
	background: #ffffff;
	margin: 0 0 30px;
	border: solid 1px #e6e6e6;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.5) !important;
}
#advantages .box .icon{
	position: absolute;
	font-size: 120px;
	width: 100%;
	text-align: center;
	top: -20px;
	left: 0px;
	height: 100%;
	float: left;
	color: #dadada;
	box-sizing: border-box;
	z-index: 1;
}
#advantages .box h3{
	position: relative;
	margin: 0 0 20px;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 2;
}
#advantages .box h3 a{
	color: #4fbfa8;
}
#advantages .box h3 a:hover{
	text-decoration: none;
}
#advantages .box p{
	position: relative;
	z-index: 2;
	color: #555555;
}

/* Termékek style */

#hot h2{
	font-size: 36px;
	font-weight: 400;
	color: #4fbfa8;
	text-align: center;
	text-transform: uppercase;
}
#content{
	padding-left: 25px;
}
.single{
	width: 290px;
}
@media(max-width:770px){
	.single{
		width: 60%;
		margin: 0 auto;
	}
}
#content .product{
	background: #ffffff;
	border: solid 1px #e6e6e6;
	margin-bottom: 30px;
	box-sizing: border-box;
	box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5) !important;
}
#content .product .text{
	padding: 10px 10px 0px;
}
#content .product .text p.price{
	font-size: 18px;
	text-align: center;
	font-weight: 400;
}
#content .product .text .button{
	text-align: center;
	clear: both;
}
#content .product .text .button .btn{
	margin-bottom: 10px;
}
#content .product .text h3{
	text-align: center;
	font-size: 20px;
}
#content .product .text h3 a{
	color: rgb(85, 85, 85);
}

/* Footer style */

#footer{
	background: #e0e0e0;
	padding: 20px 0;
}
#footer ul{
	list-style: none;
	padding-left: 0px;
}
#footer a{
	color: #999999;
	padding: 0;
	text-decoration: none;
}
#footer a:hover{
	color: #666666;
}
#footer .social{
	text-align: left;
}
#footer .social a{
	margin: 0px 10px 0px 0px;
	display: inline-block;
	color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	vertical-align: bottom;
	background: #555555;
	text-decoration: none;
}
#footer .social a:hover{
	color: #dedede;
	background: #777777;
}
#copyright{
	background: #333333;
	color: #cccccc;
	padding: 20px 0px;
	font-size: 12px;
}
#copyright p{
	margin: 0px;
}

/* Bolt style */

.breadcrumb{
	padding: 8px 15px;
	margin-bottom: 20px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.breadcrumb> li + li:before{
	content: ">\00a0";
	color: #cccccc;
}
@media(max-width:990px){
	.breadcrumb{
		padding: 8px 0px;
		text-align: center;
	}
}

/* Termékek stylus */

#content .panel.sidebar-menu{
	box-sizing: border-box;
	box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5) !important;
}
#content .panel.sidebar-menu ul.nav.category-menu{
	margin-bottom: 20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a{
	text-transform: uppercase;
	font-weight: 600;
}
#content .panel.sidebar-menu h3{
	padding: 5px 0px;
	margin: 0px;
}

/* Termékek style */

@media(max-width: 760px){
	.center-responsive{
		width: 70%;
		margin: 0px auto;
	}
}
@media(max-width: 550px){
	.center-responsive{
		width: 95%;
		margin: 0px auto;
	}
}

/* Details php style */

#content #productMain{
	margin-bottom: 30px;
}
#content #productMain .price{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-top: 30px;
}
#content #mainImage{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
#content #thumbs a{
	display: block;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
}
#content .headline{
	height: 150px;
}

/* Kosár style */

#content #cart .table tbody tr td img{
	width: 50px;
}
#content #cart .table tbody tr td input{
	width: 40px;
	text-align: right;
}
#content #cart .table tbody tr td{
	vertical-align: middle;
}
#content #cart .table tfoot{
	font-size: 18px;
}
.box .box-footer{
	background-color: #f7f7f7;
	margin: 30px -20px 20px;
	padding: 20px;
	border-top: 1px solid #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after{
	content: "";
	display: table;
}
.box .box-footer:after{
	clear: both;
}
.box .box-header{
	background-color: #f7f7f7;
	margin: -20px -20px 20px;
	padding: 20px;
	border-top: 1px solid #eeeeee;
}
#content #order-summary table{
	margin-top: 20px;
}
#content #order-summary table td{
	color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th{
	font-size: 18px;
	color: #555555;
	font-weight: 700;
}

/* firefox prefix */

@-moz-document url-prefix(){
	.form-height-custom{
		height: auto;
	}
}
div .centrum{
	text-align: center;
}
.carttotal{
	text-align: end;
}
.mastercard{
	width: 300px;
	height: 220px;
	text-align: center;
}

/* Filter menű */

.nav.category-menu{
	margin-top: -25px;
}
.scroll-menu{
	height: 260px;
	overflow-y: scroll;
}
.checkbox span{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.checkbox span::before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
	background: #fff;
}
.checkbox span::after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555;
}
.checkbox input[type='checkbox']{
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.checkbox input[type='checkbox']:focus + span::before{
	outline: thin dotted;
	outline: 5px auto;
	outline-offset: -2px;
}
.checkbox input[type='checkbox']:checked + span::after{
	font-family: "FontAwesome";
	content: "\f00c";
}
.checkbox-primary input[type='checkbox']:checked + span::before{
	background: #337ab7;
	border-color: #337ab7;
}
.checkbox-primary input[type='checkbox']:checked + span::after{
	color: #fff;
}
.product a img.img-responsive{
	max-height: 250px;
	width: 100%;
}
.buttons{
	text-align: center !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #ceed !important;
}
#center{
	text-align: center;
}
.pic{
	max-height: 400px;
}

.same-height{
	box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.5) !important;
}
